/* BIOGRAFIA */
.contenedor{
    max-width: 1200px;
    margin-top: 3em;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat (2,1fr);
    & &__imagen{
        grid-column: 1 / 7;
        grid-row:1;
    }
    & &__texto{
        grid-column: 8/13;
        grid-row: 1;
        text-align: justify;
        line-height: 1.9; 
    }
    & &__video{
        grid-column:1/13;
        grid-row: 2;
        margin-top: 3em;
    }
}

.btn {
    padding:0.6em;
    text-align: center;
    font-size: 1.2em;
    font-weight: 100;
  }

.btn-color {
    @extend .btn;
    background-color: rgba(20, 17, 17, 0.726);
  }
  








