/* HOME */
main{
    .main-section{
        @include alineacion;
        .main-image{
            max-width: ($full-size)-20;
            margin-top: 10em;
          }
        .main-text{
        text-align: center;
        position:relative;
        right: 5em;
        }
    }
    .carrusel{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .form-tittle{
        max-width: ($full-size)*3;
    }
}

























